<div class="row">
    <div class="col">
        <h3>Contenido</h3>

        <hr>

        <h3>Información</h3>

        <p style="max-width: 500px;">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum autem obcaecati maiores illo aliquid quisquam iure! Cum, nostrum? Consequuntur excepturi recusandae tenetur totam numquam quas modi quidem quos, molestiae asperiores?
        </p>
        <!-- <table class="table" style="margin-left: 20px; margin-right: 20 px;" *ngIf="gifs.length > 0">
            <thead>
                <tr>
                    <th>Img</th>
                    <th>Nombre</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let gif of gifs">
                    <td>
                        <img [src]="gif.image" [alt]="gif.title" class="img-thumbnail">
                    </td>
                    <td><strong>{{gif.name | titlecase}}</strong></td>
                </tr>
            </tbody>
        </table> -->
        
    </div>
</div>
