<h3>Menú</h3>

<hr>

<ul class="list-group">
    <!-- <li>
        <button class="btn btn-outline-dark" 
        style="width: 100%; align-self: center;">Listado</button>
    </li> -->
    <nav style="margin-left: 15px;">
        <a routerLink="listado" class="btn btn-outline-dark" style="margin-bottom: 5px; width: 40%;">Listado</a>
    </nav>
    <nav style="margin-left: 15px;">
        <a routerLink="" class="btn btn-outline-dark" style="margin-bottom: 5px; width: 40%;">Home</a>
    </nav>
</ul>
